{
  "openapi": "3.0.1",
  "info": {
    "title": "Note App API",
    "description": "API for Note App",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://note-app-server-fjey9xk-odinachi.globeapp.dev"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "description": "Endpoint to register a new user with name, email, and password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "johndoe@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "mypassword"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User registered successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid input data"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login a user",
        "description": "Endpoint for user login with email and password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "johndoe@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "mypassword"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Login successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "refresh_token": {
                          "type": "string",
                          "example": "CaQRlToqZcBCbeilRX44qA"
                        },
                        "access_token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsImtpZCI6IkUwQUM0NDdSQkQrd216bXciLCJ0eXAiOiJKV1QifQ..."
                        },
                        "user": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Chuma Kima"
                              },
                              "user_id": {
                                "type": "string",
                                "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "mail@mail.com"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid login credentials"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "summary": "Get user profile",
        "description": "Endpoint to retrieve the authenticated user's profile.",
        "responses": {
          "200": {
            "description": "Profile retrieval successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Profile successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Chuma Kima"
                            },
                            "user_id": {
                              "type": "string",
                              "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "mail@mail.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid login credentials"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/note/create": {
      "post": {
        "summary": "Create a new note",
        "description": "Endpoint to create a new note with title and content.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Okay euue"
                  },
                  "content": {
                    "type": "string",
                    "example": "helo world"
                  }
                },
                "required": [
                  "title",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Note created successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 9
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-08-02T21:04:58.103107+00:00"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                        },
                        "title": {
                          "type": "string",
                          "example": "Okay euue"
                        },
                        "content": {
                          "type": "string",
                          "example": "helo world"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid note",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid note"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/note/{id}": {
      "get": {
        "summary": "Retrieve a specific note",
        "description": "Endpoint to get a specific note by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the note to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Note retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Note retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 10
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-08-02T21:07:34.137772+00:00"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                        },
                        "title": {
                          "type": "string",
                          "example": "Okay euue"
                        },
                        "content": {
                          "type": "string",
                          "example": "helo world"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Note not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Note not found"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a specific note",
        "description": "Endpoint to update a specific note by its ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Okay sddsse"
                  },
                  "content": {
                    "type": "string",
                    "example": "helo world"
                  }
                },
                "required": [
                  "title",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Update successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 10
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-08-02T21:07:34.137772+00:00"
                            },
                            "user_id": {
                              "type": "string",
                              "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                            },
                            "title": {
                              "type": "string",
                              "example": "Okay sddsse"
                            },
                            "content": {
                              "type": "string",
                              "example": "helo world"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Note not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Note not found"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a specific note",
        "description": "Endpoint to delete a specific note by its ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the note to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Delete successful"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Note not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Note not found"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/note/fetch": {
      "get": {
        "summary": "Fetch all notes",
        "description": "Endpoint to retrieve all notes created by the user.",
        "responses": {
          "200": {
            "description": "Notes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Notes retrieved successfully"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 6
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-08-02T15:10:11.202438+00:00"
                          },
                          "user_id": {
                            "type": "string",
                            "example": "0bd7c072-e0d2-4546-96ec-54df5d8f56c8"
                          },
                          "title": {
                            "type": "string",
                            "example": "Okay ma"
                          },
                          "content": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized - invalid or missing token"
                    },
                    "data": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}